<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
/* 	window.onload = function(){
		document.getElementById("btnOk").onclick = function(){
			frm.submit();
		}
	} */

	$(function(){
		$("#btnOK").click(function(){
			$("#frm").submit();
		});
	});
</script>
</head>
<body>
<table>
	<tr>
		<td><img src="/static/images/img1.jpg" style="width:100%"></td>
		<td>
			<pre>
				<b>베딩앤데코 캐릭터 짱구 알러지가드 차렵이불 침구세트</b>
				36,900원 
 
 				최대 1,845원 적립
				무료배송 
				금요일 10/15 도착 예정
				판매자: 행복침장
				택배사: 롯데택배
 				캐시적립 혜택 상세보기 | 최대 1,845원 적립
				쿠페이 머니 결제 시 1% 적립

				[로켓와우 + 쿠페이 계좌이체] 결제 시 2% 적립

				[로켓와우 + 쿠페이 머니] 결제 시 4% 추가적립

				사이즈: 싱글
				이불류 겉감재질: 기타
				이불류 충전재: 폴리에스테르
				이불류 원단기능: 알러지/진드기방지
				사용계절: 사계절용
				쿠팡상품번호: 113605604 - 341031068
			</pre>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<form action="mycart" id="frm" method=post>{% csrf_token %}
				<input type="hidden" name="name" value="침구세트">
				<input type="hidden" name="price" value="36900">
				<input type="button" id="btnOK" value="장바구니 담기">
			</form>
			<input type="button" value="상품 목록 보기" onclick="history.back()">
		</td>
	</tr>
</table>
</body>
</html>