<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
	$(function() {
		$("form").submit(function(event) {
			if ($("#s").val() == "") {
				alert("상품 이름을 입력하세요.");
				event.preventDefault();
			} else if ($("#su").val() == "") {
				alert("상품 개수를 입력하세요.");
				event.preventDefault();
			} else if ($("#d").val() == "") {
				alert("상품 가격을 입력하세요.");
				event.preventDefault();
			}
		});
	});
</script>
<style>
input {
	width: 98%;
}
</style>
</head>
<body>
	<h1>** 상품 수정 **</h1>
	<form action="/sangpum/updateok" method="post">{% csrf_token %}
		<table border="1" style="width: 500px;">
			<tr>
				<td>상품코드</td>
				<td>{{data.code}}<input type="hidden" name="code" value="{{data.code}}"></td>
			</tr>
			<tr>
				<td>상품이름</td>
				<td><input type="text" name="sang" id="s" value="{{data.sang}}"></td>
			</tr>
			<tr>
				<td>상품개수</td>
				<td><input type="text" name="su" id="su" value="{{data.su}}"></td>
			</tr>
			<tr>
				<td>상품가격</td>
				<td><input type="text" name="dan" id="d" value="{{data.dan}}"></td>
			</tr>
			<tr>
				<td colspan="4"><input type="submit" value="수정하기" style="width: 100%"></td>
			</tr>
		</table>
	</form>
	<a href="javascript:history.back()">이전으로</a>
</body>
</html>