<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
	span{
		font-family: 궁서;
	}
</style>
<link rel="stylesheet" type="text/css" href="/static/css/test.css">
<script type="text/javascript" src="/static/js/test.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
	$(function(){
		alert("자바스크립트");
		
 		$("#myimg").click(function(){
 			imgclick_func();
		}); 
	});
</script>
</head>
<body>
world.html
<hr>
<img id="myimg" src="/static/images/worldcon.jpg"><br>
<span id="span">월드콘</span><br>
<button onclick="history.back()">이전으로</button>
</body>
</html>